.jumbotron {
    background-image: url(images/landscape-pano.jpg);
    background-size: cover;
    height: 350px;
    color: white;
    text-align: center;
    text-emphasis: bold;
}

.gifs-div {
    float: left;
}

.add-gifs {
    float: right;
}

.btn-primary {
    padding: 10px;
}

.btn-success {
    margin-left: 8px;
}
